# Dependencies
node_modules/
Shaw7076/Backend/node_modules/
Shaw7076/Frontend/node_modules/

# Environment Variables
.env
Shaw7076/Backend/.env

# Build outputs
dist/
build/

# IDE files
.vscode/
.idea/
.DS_Store